.list {
    /* @apply flex flex-wrap gap-4 lg:gap-10 items-center justify-center; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 240px;
    align-items: center;
    animation: scroll 10s linear infinite;
}
@keyframes scroll {
    to {
        translate: calc(-4 * 240px);
    }
}
